.button2 {
  background-color: transparent;
  border-width: 0px;
  outline: none;
  cursor: pointer;
}

.image4 {
  height: 80px;
  width: 80px;
}

@media (min-width: 768px) {
  .image4 {
    height: 120px;
    width: 120px;
  }
}
